#postagem-data-evento{
    text-align: center;
}
header{
    background-image: url("../img/destaque.jpeg");
    background-size: cover;
    text-align: center;
    padding: 2rem;
}

.subtitulo{
    text-align: center;
}

a{
    color:white;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius:4px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 1s;
}

a:hover{
    background-color: #50A3A7;
}

#titulo-principal{
    color: white;
    text-shadow: 4px 4px 10px black;
    font-size: 3em;
    padding-top: 2rem;
    text-transform: uppercase;
}

#data-evento{
    color: #64ff64;
    font-size: 2.5em;
    padding: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#botao-inscricao{
    background-color: #50A3A7;
    padding: 1rem;
}





@media (min-width: 650px) {
    #titulo-principal{
        font-size:5em;
    }
    #data-evento{
        font-size: 4em;
    }
}

#cabecalho{
    text-align: center;
}